@using HotelManagement.Models
@model X.PagedList.IPagedList<HotelManagement.Models.NhanVien>
@using X.PagedList
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Staff";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h3 class="m-0 font-weight-bold text-primary text-center">Danh Sách Nhân Viên</h3>

<p>
    <a asp-action="AddStaff" class="btn btn-success"> Thêm Nhân Viên</a>
</p>
<p>@TempData["Message"]</p>
<form asp-action="Staff" method="get">
    <div id="dataTableHover_filter" class="dataTables_filter">
        <label>
            Tìm Nhân Viên
            <input type="search" name="searchNhanVien" value="@ViewBag.SearchNhanVien" class="form-control form-control-sm" placeholder="Nhập Tên Nhân Viên" aria-controls="dataTableHover">
        </label>
        <label>
            Tìm Phòng Ban
            <select type="search" name="searchPhongBan" value="@ViewBag.SearchPhongBan" class="form-control form-control-sm"  aria-controls="dataTableHover">
                <option value="" disabled selected>Nhập Phòng Ban</option>
                <option value="Quản Lý">Quản Lý</option>
                <option value="Lễ Tân">Lễ Tân</option>
                <option value="Nội Vụ">Nội Vụ</option>
                <option value="Tài Chính">Tài Chính</option>
                <option value="An Ninh">An Ninh</option>
            </select>
        </label>
     

        <button type="submit" class="btn btn-primary btn-primary">Search</button>
    </div>
</form>
<table class="table align-items-center table-flush table-hover dataTable" id="dataTableHover" role="grid" aria-describedby="dataTableHover_info">
    <thead class="thead-light">

        <tr>
            <th>
                Họ Tên
            </th>
            <th>
                Năm Sinh
            </th>
            <th>
                Giới Tính
            </th>
            <th>
                Email
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Chức vụ
            </th>
            <th>
                Phòng ban
            </th>
            <th></th>
        </tr>
    </thead>
    <tfoot >

        <tr>
            <th>
                Họ Tên
            </th>
            <th>
                Năm Sinh
            </th>
            <th>
                Giới Tính
            </th>
            <th>
                Email
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Chức vụ
            </th>
            <th>
                Phòng ban
            </th>
            <th></th>
        </tr>
    </tfoot>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoTenNv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamSinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChucVu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaPbNavigation.TenPb)
            </td>
            <td>
                    <a class="btn btn-primary" asp-action="EditStaff" asp-route-maNhanVien="@item.MaNv">Cập Nhật</a>
                    <a class="btn btn-info" asp-action="DetailStaff" asp-route-maNhanVien="@item.MaNv">Chi Tiết</a>
                   @*   <a class="btn btn-danger" asp-action="DeleteStaff" asp-route-maNhanVien="@item.MaNv" onclick="return confirm('Bạn có muốn sa thải nhân viên này không?');">Sa Thải</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
<div class="row">
<div class="col-sm-12 col-md-5">
    <div class="dataTables_info" id="dataTableHover_info" role="status" aria-live="polite">
        Showing @Model.PageNumber to @Model.PageCount of @Model.TotalItemCount entries
    </div>
</div>
<div class="col-sm-12 col-md-7">
    <div class="dataTables_paginate paging_simple_numbers" id="dataTableHover_paginate">
        <ul class="pagination">
            @if (Model.PageNumber > 1)
            {
                <li class="paginate_button page-item previous">
                    <a class="page-link" href="@Url.Action("Staff","Staff", new { page = Model.PageNumber - 1 })">Previous</a>
                </li>
            }
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <li class="paginate_button page-item @(i == Model.PageNumber ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Staff","Staff", new { page = i })">@i</a>
                </li>
            }
            @if (Model.PageNumber < Model.PageCount)
            {
                <li class="paginate_button page-item next">
                    <a class="page-link" href="@Url.Action("Staff","Staff", new { page = Model.PageNumber + 1 })">Next</a>
                </li>
            }
        </ul>
    </div>
</div>
</div>