@using HotelManagement.Models
@model X.PagedList.IPagedList<HotelManagement.Models.Phong>
@using X.PagedList
@{
    ViewData["Title"] = "Room";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var currentUser = Context.Session.GetString("Role");
}
<div class="col-lg-12 col-md-6">
    <h3 class="m-0 font-weight-bold text-primary text-center">Danh Sách Phòng</h3>
    @if (currentUser == "Admin")
    {
        <p>
            <a asp-action="AddRoom" class="btn btn-success">Thêm Phòng Mới</a>
        </p>
    }
   
    <p>@TempData["Message"]</p>

    <form asp-action="Room" method="get">
        <div id="dataTableHover_filter" class="dataTables_filter">
            <label for="searchTinhTrang">
                Tìm Tình Trạng
                <select id="searchTinhTrang" name="searchTinhTrang" class="form-control form-control-sm"  aria-controls="dataTableHover">
                    <option value="" disabled selected>Chọn Tình Trạng Phòng</option>
                    <option value="Đang Còn Trống">Đang Còn Trống</option>
                    <option value="Đang Sử Dụng">Đang Sử Dụng</option>
                    <option value="Đang Sửa Chữa">Đang Sửa Chữa</option>
               </select>
            </label>
            <label for="searchLoaiPhong">
                Tìm Loại Phòng
                <select id="searchLoaiPhong" name="searchLoaiPhong" class="form-control form-control-sm" aria-controls="dataTableHover">
                    <option value="" disabled selected>Chọn loại phòng</option>
                    <option value="Single">Single</option>
                    <option value="Duplex">Duplex</option>
                    <option value="Vip">Vip</option>
                    <option value="Luxury">Luxury</option>
                    <option value="Premium">Premium</option>
                </select>
            </label>
            <label for="searchTang">
                Tìm Tầng
                <select id="searchTang" name="searchTang"  class="form-control form-control-sm" aria-controls="dataTableHover">
                    <option value="" disabled selected>Chọn số tầng</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>

                </select>
            </label>

            <button type="submit" class="btn btn-primary btn-primary">Search</button>
        </div>
    </form>

    <table class="table align-items-center table-flush table-hover dataTable" id="dataTableHover" role="grid" aria-describedby="dataTableHover_info">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Số Phòng</th>
                <th>Loại Phòng</th>
                <th>Tầng</th>
                <th>Tình Trạng</th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Số Phòng</th>
                <th>Loại Phòng</th>
                <th>Tầng</th>
                <th>Tình Trạng</th>
                <th></th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in Model)
            {
                var statusClass = "";
                if (item.MaTinhTrangNavigation.TenTinhTrang == "Đang Còn Trống")
                {
                    statusClass = "bg-gradient-success text-white font-weight-bold";  // Nền xanh, chữ trắng
                }
                else if (item.MaTinhTrangNavigation.TenTinhTrang == "Đang Sửa Chữa")
                {
                    statusClass = "bg-gradient-warning text-white font-weight-bold";  // Nền vàng, chữ trắng
                }
                else if (item.MaTinhTrangNavigation.TenTinhTrang == "Đang Sử Dụng")
                {
                    statusClass = "bg-gradient-danger text-white font-weight-bold";   // Nền đỏ, chữ trắng
                }
                <tr >
                    <td class="@statusClass">P @Html.DisplayFor(modelItem => item.MaPhong)</td>
                    <td class="@statusClass">@Html.DisplayFor(modelItem => item.SoPhong)</td>
                    <td class="@statusClass">@Html.DisplayFor(modelItem => item.MaLpNavigation.TenLoaiPhong)</td>
                    <td class="@statusClass">@Html.DisplayFor(modelItem => item.MaTangNavigation.TenTang)</td>
                    <td class="@statusClass">@Html.DisplayFor(modelItem => item.MaTinhTrangNavigation.TenTinhTrang)</td>
               
                    <td class="text-end">
                        <a class="btn btn-primary" asp-action="EditRoom" asp-route-maPhong="@item.MaPhong">Cập Nhật Phòng</a>
                        <a class="btn btn-info" asp-action="RoomDetails" asp-route-maPhong="@item.MaPhong">Chi Tiết</a>
                      @*   <a class="btn btn-danger" asp-action="DeleteRoom" asp-route-maPhong="@item.MaPhong" onclick="return confirm('Bạn có chắc muốn xóa phòng này?');">Xóa Phòng</a> *@
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row">
        <div class="col-sm-12 col-md-5">
            <div class="dataTables_info" id="dataTableHover_info" role="status" aria-live="polite">
                Showing @Model.PageNumber to @Model.PageCount of @Model.TotalItemCount entries
            </div>
        </div>
        <div class="col-sm-12 col-md-7">
            <div class="dataTables_paginate paging_simple_numbers" id="dataTableHover_paginate">
                <ul class="pagination">
                    @if (Model.PageNumber > 1)
                    {
                        <li class="paginate_button page-item previous">
                            <a class="page-link" href="@Url.Action("Room","Room", new { page = Model.PageNumber - 1 })">Previous</a>
                        </li>
                    }
                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                        <li class="paginate_button page-item @(i == Model.PageNumber ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Room","Room", new { page = i })">@i</a>
                        </li>
                    }
                    @if (Model.PageNumber < Model.PageCount)
                    {
                        <li class="paginate_button page-item next">
                            <a class="page-link" href="@Url.Action("Room","Room", new { page = Model.PageNumber + 1 })">Next</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
