@model HotelManagement.Models.HoaDon
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "PaymentDetail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="m-0 font-weight-bold text-primary text-center">Chi Tiết Hóa Đơn</h2>


    <table class="table">
        <thead>
            <tr>
                <th class="col-sm-2">Thông Tin</th>
                <th class="col-sm-10">Chi Tiết</th>
            </tr>
        </thead>
        <tbody>
        @if (Model.MaPhieuThue.HasValue)
        {
            <tr>
                <td>Mã Phiếu Thuê</td>
                <td>@Html.DisplayFor(model => model.MaPhieuThueNavigation.MaPhieuThue)</td>
            </tr>
            <tr>
                <td>Phòng Thuê</td>
                <td>@Html.DisplayFor(model => model.MaPhieuThueNavigation.MaPhongNavigation.SoPhong)</td>
            </tr>
            <tr>
                <td>Họ Tên Khách Hàng</td>
                <td>@Html.DisplayFor(model => model.MaPhieuThueNavigation.MaKhNavigation.HoTenKh)</td>
            </tr>
            <tr>
                <td>Nhân Viên Thanh Toán</td>
                <td>@Html.DisplayFor(model => model.MaPhieuThueNavigation.MaNvNavigation.HoTenNv)</td>
            </tr>
            <tr>
                <td>Ngày Lập Phiếu</td>
                <td> @(Model.NgayLapPhieu.HasValue ? Model.NgayLapPhieu.Value.ToString("dd/MM/yyyy") : String.Empty) </td>
            </tr>
            <tr>
                <td>Số Tiền Cọc</td>
                <td>@String.Format("{0:N0}", Model.SoTienCoc) VND</td>
            </tr>
            <tr>
                <td>Tổng Tiền Tạm Tính</td>
                <td>@String.Format("{0:N0}", Model.TongTienTamTinh) VND</td>
            </tr>
            <tr>
                <td>Phụ Thu</td>
                <td>@String.Format("{0:N0}", Model.PhuThu) VND</td>
            </tr>
        }
        @if (Model.MaDoan.HasValue)
        {
            <tr>
                <td>Mã Phiếu Thuê Đoàn</td>
                <td>@Html.DisplayFor(model => model.MaDoanNavigation.MaDoan)</td>
            </tr>
            <tr>
                <td>Tên Đoàn</td>
                <td>@Html.DisplayFor(model => model.MaDoanNavigation.TenDoan)</td>
            </tr>
            <tr>
                <td>Khách Hàng Đại Diện</td>
                <td>@Html.DisplayFor(model => model.MaDoanNavigation.MaKhNavigation.HoTenKh)</td>
            </tr>
            <tr>
                <td>Phòng Thuê</td>
                <td>
                    @if (Model.MaDoanNavigation.DatPhongDoanPhongs != null && Model.MaDoanNavigation.DatPhongDoanPhongs.Any())
                    {
                        <ul>
                            @foreach (var phong in Model.MaDoanNavigation.DatPhongDoanPhongs)
                            {
                                if (phong.MaPhongNavigation != null)
                                {
                                    <li>@phong.MaPhongNavigation.SoPhong</li>
                                }
                            }
                        </ul>
                    }
                    else
                    {
                        <li>Không có phòng nào được chọn.</li>
                    }
                </td>
            </tr>
           
            <tr>
                <td>Nhân Viên Thanh Toán</td>
                <td>@Html.DisplayFor(model => model.MaDoanNavigation.MaNvNavigation.HoTenNv)</td>
            </tr>
            <tr>
                <td>Ngày Lập Phiếu</td>
                <td> @(Model.NgayLapPhieu.HasValue ? Model.NgayLapPhieu.Value.ToString("dd/MM/yyyy") : String.Empty) </td>
            </tr>
        }

        </tbody>
    </table>


<h3 class="m-0 font-weight-bold text-primary">Dịch Vụ Đã Sử Dụng</h3>
<table class="table">
    <thead>
        <tr>
            <th>Tên Dịch Vụ</th>
            <th>Giá</th>
            <th>Số Lượng</th>
            <th>Thành Tiền</th>
        </tr>
    </thead>

    <tbody>

        @{

            double tongTienDichVu = 0;
        }

        @if (Model.MaPhieuThue.HasValue)
        {
            @foreach (var dv in Model.MaPhieuThueNavigation.PhongDichVus)
            {
                var thanhTien = dv.SoLuong.GetValueOrDefault() * dv.MaDichVuNavigation.Gia;
                tongTienDichVu += (double)thanhTien;
                <tr>
                    <td>@dv.MaDichVuNavigation.TenDichVu</td>
                    <td>@dv.MaDichVuNavigation.Gia VND</td>
                    <td>@dv.SoLuong</td>
                    <td>@(dv.SoLuong.GetValueOrDefault() * dv.MaDichVuNavigation.Gia) VND</td>
                </tr>
            }
        }
        @if (Model.MaDoan.HasValue)
        {
            @foreach (var dv in Model.MaDoanNavigation.DoanDichVus)
            {
                var thanhTien = dv.SoLuong.GetValueOrDefault() * dv.MaDichVuNavigation.Gia;
                tongTienDichVu += (double)thanhTien;
                <tr>
                    <td>@dv.MaDichVuNavigation.TenDichVu</td>
                    <td>@dv.MaDichVuNavigation.Gia VND</td>
                    <td>@dv.SoLuong</td>
                    <td>@(dv.SoLuong.GetValueOrDefault() * dv.MaDichVuNavigation.Gia) VND</td>
                </tr>
            }
        }

        <tr>
            <td colspan="3" class="text-right"><strong>Tổng Tiền Dịch Vụ:</strong></td>
            <td><strong>@tongTienDichVu.ToString("N0") VND</strong></td>
        </tr>

    </tbody>
</table>
<h2 class="m-0 font-weight-bold text-success">Tổng Tiền Thanh Toán: @String.Format("{0:N0}", Model.TongTienThu) VND</h2>
<div>
    <a asp-action="Payment" class="btn btn-primary">Back to List</a>
</div>