@model HotelManagement.Models.DatPhong

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h2 class="m-0 font-weight-bold text-primary text-center">Chi Tiết Phiếu Thuê Phòng</h2>
<hr />
<div>
   
    <dl class="row">
        <dt class="col-sm-2">
            Mã Phiếu Thuê
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaPhieuThue)
        </dd>
        <dt class = "col-sm-2">
            Họ Tên Khách Hàng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaKhNavigation.HoTenKh)
        </dd>
        <dt class="col-sm-2">
           Nhân Viên Tiếp Tân
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaNvNavigation.HoTenNv)
        </dd>

        <dt class = "col-sm-2">
            Phòng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaPhongNavigation.SoPhong)
        </dd>
        <dt class="col-sm-2">
           Ngày Nhận
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgayNhan)
        </dd>
        <dt class="col-sm-2">
           Ngày Trả
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgayTra)
        </dd>
        <dt class="col-sm-2">
           Giờ Nhận
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GioNhan)
        </dd>
        <dt class="col-sm-2">
           Giờ Trả
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GioTra)
        </dd>
        <dt class="col-sm-2">
           Số Người Ở
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SoNguoiO) Người
        </dd>
        <dt class = "col-sm-2">
            Tình Trạng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaTinhTrangDatNavigation.TenTinhTrangDat)
        </dd>
    </dl>
</div>




<h3 class="m-0 font-weight-bold text-primary">Dịch Vụ Đã Sử Dụng</h3>
<table class="table">
    <thead>
        <tr>
            <th>Tên Dịch Vụ</th>
            <th>Giá</th>
            <th>Số Lượng</th>
            <th>Thành Tiền</th>
        </tr>
    </thead>
    
    <tbody>

        @{

            double tongTienDichVu = 0;
        }
        
       
        @foreach (var dv in Model.PhongDichVus)
        {
            var thanhTien = dv.SoLuong.GetValueOrDefault() * dv.MaDichVuNavigation.Gia;
            tongTienDichVu += (double)thanhTien;
            <tr>
                <td>@dv.MaDichVuNavigation.TenDichVu</td>
                <td>@dv.MaDichVuNavigation.Gia</td>
                <td>@dv.SoLuong</td>
                <td>@(dv.SoLuong.GetValueOrDefault() * dv.MaDichVuNavigation.Gia)</td>
            </tr>
        }
        <tr>
            <td colspan="3" class="text-right"><strong>Tổng Tiền Dịch Vụ:</strong></td>
            <td><strong>@tongTienDichVu.ToString("N0") VND</strong></td>
        </tr>
        
    </tbody>
</table>
@{
    double soNgayGio = 0;
    if (Model.NgayNhan.HasValue && Model.NgayTra.HasValue)
    {
        // Kết hợp NgayNhan và GioNhan, NgayTra và GioTra để tính chính xác số ngày giờ ở
        var ngayGioNhan = Model.GioNhan.HasValue ? Model.NgayNhan.Value.ToDateTime(Model.GioNhan.Value) : Model.NgayNhan.Value.ToDateTime(TimeOnly.MinValue);
        var ngayGioTra = Model.GioTra.HasValue ? Model.NgayTra.Value.ToDateTime(Model.GioTra.Value) : Model.NgayTra.Value.ToDateTime(TimeOnly.MaxValue);

        soNgayGio = (ngayGioTra - ngayGioNhan).TotalDays;
    }
    // Tính tiền phòng

    double tienPhong = Model.MaPhongNavigation.MaLpNavigation.Gia.GetValueOrDefault() * soNgayGio;
    //Tính tiền phòng hủy
    double tienCoc = Model.MaPhongNavigation.MaLpNavigation.SoTienCoc.GetValueOrDefault() * soNgayGio;
    double tongTienPhieuThue = 0;

    if (Model.MaTinhTrangDat == 4)
    {
        tongTienPhieuThue = tienCoc;
    }

    else if (Model.MaLoaiHinhDat==1)
    {
        tongTienPhieuThue = tongTienDichVu + tienPhong;
    }
    else if(Model.MaLoaiHinhDat==2)
    {
        tongTienPhieuThue = tongTienDichVu + tienPhong + 60000;
    }
    else 
    {
        tongTienPhieuThue = tongTienDichVu + tienPhong + 30000;
    }
   
}

<h4>Tổng Tiền Phiếu Thuê: @tongTienPhieuThue.ToString("N0") VND</h4>

<div>
    <a asp-action="RoomRental" asp-area="Admin" class="btn btn-primary">Back to List</a>
</div>
