@using HotelManagement.Models
@model X.PagedList.IPagedList<HotelManagement.Models.DatPhong>
@using X.PagedList
@{
    ViewData["Title"] = "RoomRental";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="col-lg-12 col-md-6">
    <h3 class="m-0 font-weight-bold text-primary text-center">Danh Sách Phiếu Đặt Phòng</h3>
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

    <p>
        <a asp-action="Booking" asp-controller="RoomRental" class="btn btn-success">Tạo Phiếu Đặt Phòng</a>
    </p>
 
    <form asp-action="RoomRental" method="get">
        <div id="dataTableHover_filter" class="dataTables_filter">
            <label>
               Khách Hàng
                <input type="search" name="searchKhachHang" value="@ViewBag.SearchKhachHang" class="form-control form-control-sm" placeholder="Nhập Tên Khách Hàng" aria-controls="dataTableHover">
            </label>
            <label>
                Loại Hình Đặt
                <select id="searchLoaiHinhDat" name="searchLoaiHinhDat" value="@ViewBag.SearchLoaiHinhDat" class="form-control form-control-sm"  aria-controls="dataTableHover">
                    <option value="" disabled selected>Chọn Loại Hình Đặt</option>
                    <option value="Theo Ngày">Theo Ngày</option>
                    <option value="Theo Giờ">Theo Giờ</option>
                    <option value="Qua Đêm">Qua Đêm</option>
                </select>
            </label>
            <label>
                Loại Phòng
                <select id="searchLoaiPhong" name="searchLoaiPhong" value="@ViewBag.SearchLoaiPhong" class="form-control form-control-sm" aria-controls="dataTableHover">
                    <option value="" disabled selected>Chọn Loại Phòng</option>
                    <option value="Single">Single</option>
                    <option value="Duplex">Duplex</option>
                    <option value="Vip">Vip</option>
                    <option value="Luxury">Luxury</option>
                    <option value="Premeum">Premeum</option>
                </select>
            </label>
            <label>
                Tình Trạng
                <select id="searchTinhTrang" name="searchTinhTrang" value="@ViewBag.SearchTinhTrang" class="form-control form-control-sm"  aria-controls="dataTableHover">
                    <option value="" disabled selected>Chọn Tình Trạng </option>
                    <option value="Chưa Nhận Phòng">Chưa Nhận Phòng</option>
                    <option value="Đã Nhận Phòng">Đã Nhận Phòng</option>
                    <option value="Đã Trả Phòng">Đã Trả Phòng</option>
                    <option value="Hủy Phòng">Hủy Phòng</option>
                </select>
            </label>
            <label>
                 Ngày Nhận
                <input type="date" name="startDate" value="@ViewBag.StartDate?.ToString("yyyy-MM-dd")" class="form-control form-control-sm" aria-controls="dataTableHover">
            </label>
            <label>
                Ngày Trả
                <input type="date" name="endDate" value="@ViewBag.EndDate?.ToString("yyyy-MM-dd")" class="form-control form-control-sm" aria-controls="dataTableHover">
            </label>
            <button type="submit" class="btn btn-primary btn-primary">Search</button>
        </div>
    </form>
    <table class="table align-items-center table-flush table-hover dataTable" id="dataTableHover" role="grid" aria-describedby="dataTableHover_info">
        <thead class="thead-light">
            <tr>
                <th>
                   Khách Hàng
                </th>
                <th>
                    Loại Hình Đặt
                </th>
           
           @*      <th>
                    Số Phòng
                </th> *@
                <th>
                    Loại Phòng
                </th>
                <th>
                    Ngày Nhận
                </th>
                <th>
                    Ngày Trả
                </th>
          
                <th>
                    Số Người ở
                </th>
                <th>
                    Tình Trạng
                </th>
           
                <th></th>
            </tr>
        </thead>
        <tfoot class="thead-light">
            <tr>
                <th>
                    Khách Hàng
                </th>
                <th>
                    Loại Hình Đặt
                </th>
             @*    <th>
                    Số Phòng
                </th> *@
                <th>
                    Loại Phòng
                </th>
                <th>
                    Ngày Nhận
                </th>
                <th>
                    Ngày Trả
                </th>
          
                <th>
                    Số Người ở
                </th>
                <th>
                    Tình Trạng
                </th>

                <th></th>
            </tr>

        </tfoot>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaKhNavigation.HoTenKh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaLoaiHinhDatNavigation.TenLoaiHinhDat)
                </td>
           
              @*   <td>
                    @Html.DisplayFor(modelItem => item.MaPhongNavigation.SoPhong)
                </td> *@
                 <td>
                    @Html.DisplayFor(modelItem => item.MaPhongNavigation.MaLpNavigation.TenLoaiPhong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayNhan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayTra)
                </td>    
                <td>
                    @Html.DisplayFor(modelItem => item.SoNguoiO)
                </td>
                <td>              
                    @Html.DisplayFor(modelItem => item.MaTinhTrangDatNavigation.TenTinhTrangDat)             
                </td>
            
                <td>       
                    <div>
                        <a asp-action="AddService" asp-route-maPhieuThue="@item.MaPhieuThue" class="btn btn-success">Thêm Dịch Vụ</a>
                        <a asp-action="Details" asp-route-maPhieuThue="@item.MaPhieuThue" class="btn btn-info">Chi Tiết Phiếu</a>
                    </div>
                    <div>
                        <a asp-action="EditRental" asp-route-maPhieuThue="@item.MaPhieuThue" class="btn btn-success">Cập Nhật Phiếu</a>
                        <a asp-action="CreateBill" asp-route-maPhieuThue="@item.MaPhieuThue" asp-controller="Payment" asp-area="Admin" class="btn btn-info">Thanh Toán</a>
                    </div>

                </td>
            </tr>
    }
        </tbody>
    </table>
    <div class="row justify-content-center">
       
        <div class="col-sm-12 col-md-7">
            <div class="dataTables_paginate paging_simple_numbers" id="dataTableHover_paginate">
                <ul class="pagination justify-content-center">
                    @if (Model.PageNumber > 1)
                    {
                        <li class="paginate_button page-item previous">
                            <a class="page-link" href="@Url.Action("RoomRental", "RoomRental", new { page = Model.PageNumber - 1 })">Previous</a>
                        </li>
                    }

                    @{
                        int maxPagesToShow = 10;
                        int startPage = Math.Max(1, Model.PageNumber - maxPagesToShow / 2);
                        int endPage = Math.Min(Model.PageCount, startPage + maxPagesToShow - 1);

                        // Điều chỉnh startPage nếu endPage là cuối cùng
                        if (endPage == Model.PageCount)
                        {
                            startPage = Math.Max(1, endPage - maxPagesToShow + 1);
                        }
                    }

                    @for (int i = startPage; i <= endPage; i++)
                    {
                        <li class="paginate_button page-item @(i == Model.PageNumber ? "active" : "")">
                            <a class="page-link" href="@Url.Action("RoomRental", "RoomRental", new { page = i })">@i</a>
                        </li>
                    }

          
                    @if (endPage < Model.PageCount)
                    {
                    <li class="paginate_button page-item">
                        <span class="page-link">…</span>
                    </li>
                    <li class="paginate_button page-item">
                        <a class="page-link" href="@Url.Action("RoomRental", "RoomRental", new { page = Model.PageCount })">@Model.PageCount</a>
                    </li>
                    }

                    @if (Model.PageNumber < Model.PageCount)
                    {
                        <li class="paginate_button page-item next">
                            <a class="page-link" href="@Url.Action("RoomRental", "RoomRental", new { page = Model.PageNumber + 1 })">Next</a>
                        </li>
                    }
                </ul>
            </div>
        </div>

    </div>
    
   
