@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using HotelManagement.Models
@using X.PagedList
@{
    ViewData["Title"] = "Customer";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@model X.PagedList.IPagedList<HotelManagement.Models.KhachHang>

<div class="col-lg-12 col-md-6">
    <div class="card mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách khách hàng</h6>
        </div>
        <div class="table-responsive p-3">
            <div id="dataTableHover_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    
                    <div class="col-sm-12 col-md-6">
                        <p>
                            <a asp-action="AddCustomer" class="btn btn-success">Thêm Khách Hàng Mới</a>
                        </p>
                        <form asp-action="Customer" method="get">
                            <div id="dataTableHover_filter" class="dataTables_filter">
                                <label>
                                    Họ Tên
                                    <input type="search" name="searchString" value="@ViewBag.SearchString" class="form-control form-control-sm" placeholder="Nhập Tên Khách Hàng" aria-controls="dataTableHover">
                                </label>
                                <label>
                                    Năm Sinh:
                                    <input type="search" name="year" value="@ViewBag.Year" class="form-control form-control-sm" placeholder="Nhập Năm Sinh" aria-controls="dataTableHover">
                                </label>

                                <button type="submit" class="btn btn-primary btn-sm">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table align-items-center table-flush table-hover dataTable" id="dataTableHover" role="grid" aria-describedby="dataTableHover_info">
                            <thead class="thead-light">
                                <tr role="row">
                                    <th class="sorting" tabindex="0" aria-controls="dataTableHover" rowspan="1" colspan="1" aria-label="ID: activate to sort column ascending" style="width: 181.812px;">ID</th>
                                    <th class="sorting_desc" tabindex="0" aria-controls="dataTableHover" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending" style="width: 285.6px;">Name</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTableHover" rowspan="1" colspan="1" aria-label="Birth: activate to sort column ascending" style="width: 53.525px;">Birth</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTableHover" rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending" style="width: 116.287px;">Email</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTableHover" rowspan="1" colspan="1" aria-label="Phone Number: activate to sort column ascending" style="width: 116.287px;">Phone number</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTableHover" rowspan="1" colspan="1" aria-label="Nation: activate to sort column ascending" style="width: 116.287px;">Nation</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTableHover" rowspan="1" colspan="1" aria-label="Identity: activate to sort column ascending" style="width: 116.287px;">Identity</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th rowspan="1" colspan="1">ID</th>
                                    <th rowspan="1" colspan="1">Name</th>
                                    <th rowspan="1" colspan="1">Birth</th>
                                    <th rowspan="1" colspan="1">Email</th>
                                    <th rowspan="1" colspan="1">Phone Number</th>
                                    <th rowspan="1" colspan="1">Nation</th>
                                    <th rowspan="1" colspan="1">Identity</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr role="row" class="even">
                                        <td>@item.MaKh</td>
                                        <td>@item.HoTenKh</td>
                                        <td>@item.NamSinh</td>
                                        <td>@item.Email</td>
                                        <td>@item.Sdt</td>
                                        <td>@item.QuocTich</td>
                                        <td>@item.Cccd</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info" id="dataTableHover_info" role="status" aria-live="polite">
                            Showing @Model.PageNumber to @Model.PageCount of @Model.TotalItemCount entries
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="dataTableHover_paginate">
                            <ul class="pagination">
                                @if (Model.PageNumber > 1)
                                {
                                    <li class="paginate_button page-item previous">
                                        <a class="page-link" href="@Url.Action("Customer", "HomeAdmin", new { page = Model.PageNumber - 1 })">Previous</a>
                                    </li>
                                }
                                @for (int i = 1; i <= Model.PageCount; i++)
                                {
                                    <li class="paginate_button page-item @(i == Model.PageNumber ? "active" : "")">
                                        <a class="page-link" href="@Url.Action("Customer", "HomeAdmin", new { page = i })">@i</a>
                                    </li>
                                }
                                @if (Model.PageNumber < Model.PageCount)
                                {
                                    <li class="paginate_button page-item next">
                                        <a class="page-link" href="@Url.Action("Customer", "HomeAdmin", new { page = Model.PageNumber + 1 })">Next</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
